@using GalleryShop.Models
@implements IDialogContentComponent<Album>
<div>
    <FluentTextField @bind-Value="@Content.Title">Title:</FluentTextField>
</div>
<div>
    <AlbumImageUpload Album="Content"  />
</div>
@code {
    [Parameter]
    public Album Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

}
