@page "/"

@using GalleryShop.Models
@using GalleryShop.Services

@inject IAlbumsService AlbumService
@inject NavigationManager Navigation

<PageTitle>Galleries</PageTitle>

<h1 class="centered-gray">Galleries</h1>

@if (albums == null)
{
    <p><em>Loading...</em></p>
}
else{
    <div class="album-grid">
        @foreach (var album in albums)
        {
            <div class="album-card" @onclick="() => NavigateToAlbum(album.Id)" style="cursor:pointer;">
                <div><img src="@album.ImageUrl" class="album-image" /></div>
                <div>@album.Title</div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<Album>? albums;

    protected override async Task OnInitializedAsync()
    {
        albums = await AlbumService.GetAlbums();
    }

    private void NavigateToAlbum(int albumId)
    {
        Navigation.NavigateTo($"/gallery/{albumId}");
    }
}